%title Tyrano
%head
  %link{rel: 'stylesheet', type: 'text/css', href: '/css/reset.css'}
  %link{rel: 'stylesheet', type: 'text/css', href: '/css/index.css'}

%body
  %h1 Tyrano

  .new_process
    %form{action: '/create', method: 'POST'}
      %p
        %label{for: 'n'} Count to
        %input{type: :text, id: 'n', name: 'n', autofocus: true}
        %input{type: :submit, value: 'Start'}

  - %w[web run].each do |type|
    .process_list
      %h2= type
      - if @processes[type]
        %ul
          %li
            - PROCESS_FIELDS.each do |field|
              %span{class: "header #{field}"}= field
          - @processes[type].each do |process|
            %li
              - PROCESS_FIELDS.each do |field|
                %span{class: field}= process[field]
      - else
        .no_processes No Processes
